body{
    background-size: cover;
    margin: 0;
    color: #2c2c2c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-repeat: no-repeat;
    text-decoration: none;
    overflow: hidden;
    user-select: none;
    background-attachment: fixed;
    transition: background-color 1.1s ease-in-out;
}

#json{
    color: #2c2c2c;
    font-weight: 100;
}

h2{
    font-weight: 500;
}

a{
    color: #00c503;
    text-decoration: none;
    height: 20px;
}

#nocon{
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    text-align: center;
    opacity: 0;
}

.taskbar{
    background-color: #7c7c7c50;
    bottom: 0;
    left: 0;
    height: 39px;
    border-top: 1px solid rgba(0,0,0,.5);
    position: absolute;
    padding-bottom: 0;
    display: inline-block;
    width: 100%;
}

.menu{
    position: fixed;
    top: 0;
    display: block;
    list-style-type: none;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 1.1s ease-in-out;
    background-color: #019601;
    height: 50px;
    max-height: 100px;
}

#nowthisisrealcontent{
    opacity: 0;
    padding-top: 100px;
    transition: opacity 1.1s ease-in-out;
    position: absolute;
    height: max-content;
}

.thumbmodelement{
    outline: 0 solid rgba(0, 0, 0, 0);
    width: 1fr;
    height: 1fr;
    box-sizing: border-box;
    transition: outline 0.1s ease-in-out;
}

.searchmoddesc{
    margin-bottom: 0;
    margin-top: 0;
}

.searchmodtitle{
    margin: 0;
    font-weight: 500;
    height: auto;
}

.searchmodelement{
    width: 500px;
    outline: 5px solid rgba(120, 120, 120, 0);
    transition: outline 0.1s ease-in-out;
    height: auto;
    margin-left: 10px;
}

.searchmodelement:hover{
    outline: 5px solid rgba(120, 120, 120, 0.75);
}

.price{
    font-weight: 500;
    margin-top: 1px;
}

.verysmallmodlogo{
    width: 100px;
    height: 100px;
}

.thumbmodelement:hover{
    outline: 5px solid rgba(120, 120, 120, 0.75);
}

.secheader{
    display: flex;
}

.subtitle{
    font-weight: 100;
    margin: 0;
}

.thumbmodimage{
    height: 200px;
    min-height: 200px;
    width: 200px;
}

.modlist{
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.thumbmodtitle{
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0px;
}

.thumbmoddownloads{
    margin-top: 5px;
    margin-bottom: 0px;
}

.thumbmodprice{
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 0px;
}

.featuredlabel{
    font-weight: 100;
    color: #2c2c2c;
}

.menu li{
    float: left;
    list-style-type: none;
    margin-left: 50px;
    color: white;
    z-index: 1;
}

.searchbar{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0;
    outline: 0;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 40px;
    width: 200px;
    height: 40px;
}

.desctitle{
    font-weight: 450;
    margin-bottom: 0;
}

#moddesc{
    margin-top: 0;
}

#downloadbutton{
    background-color: #019601;
    color: white;
    padding: 20px;
    outline: 0;
    border: 0;
    font-size: 14pt;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.searchheader{
    display: inline-flex;
}

.resultlabel{
    margin: 0;
    font-weight: 100;
    margin-left: 10px;
}

.backbutton{
    width: 35px;
    height: 35px;
    border: 0;
    outline: 0;
    margin-top: 5px;
    background: none;
}

.backbutton img{
    width: 35px;
    height: 35px;
}

.bigtile{
    width: 200px;
    height: 100px;
    background: linear-gradient(90deg, rgb(131, 131, 131), rgb(200, 200, 200));
}

.tiletitle{
    color: white;
    margin-top: 7em;
    margin-left: 1em;
    font-size: 8pt;
}

.tiles{
    margin-left: 40px;
    gap: 10px;
    display: inline-flex;
    margin-top: 10em;
}

.title{
    font-weight: 100;
    margin-left: 40px;
    font-size: 48pt;
    position: fixed;
    color: white;
}

.newstitle{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20;
    font-weight: 100;
    color: white;
    position: relative;
    top: 210px;
    left: 20px;
}

#newslist{
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.newslink{
    color: white;
}

.newsdiv{
    background-repeat: no-repeat;
    width: 650px;
    height: 325px;
    margin-left: 10px;
}

.modtitle{
   color: #2c2c2c; 
}

.start-button{
    background-color: transparent;
    transition: background-color 0.25s ease-in-out;
    border: 0;
    height: 39px;
    width: 39px;
}

.start-in-start-button{
    bottom: 0;
    left: 0;
    background-color: transparent;
    border: 0;
    opacity: 0;
    height: 39px;
    width: 39px;
    transition: background-color 0.25s ease-in-out, opacity 0.25s ease-in-out;
    position: absolute;
}

.start-in-start-button img{
    height: 30px;
    width: 30px;
}

.start-button:hover{
    background-color: black;
}

.rightside{
    position: absolute;
    right: 0px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: -8px;
    display: inline-block;
}

.clock{
    margin-right: 10px;
}

.geodestore{
    height: 39px;
    width: 39px;
    top: 0px;
    border: 0;
    position: absolute;
}

.leftside{
    height: 39px;
    width: 50px;
    position: absolute;
}

.middle{
    height: 39px;
    width: 50px;
    left: 50px;
    display: flex;
    position: absolute;
}

.taskbaricon img{
    margin: 5px;
    height: 30px;
    width: 30px;
}

.modernuiheader{
    background-color: black;
    color: white;
    top: 0;
    position: static;
    display: inline-block;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: translateY(-100%);
    z-index: 2;
    transition: transform 0.25s ease-in-out;
}

#headermover{
    position: fixed;
    height: 10px;
    z-index: 3;
    width: 100%;
}

#headermover:hover .modernuiheader{
    transform: translateY(0%);
}

.modernuibuttons{
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.mainmodernview{
    height: 100%;
}

#centerlogo{
    top: 50%;
    transform: translateY(50%);
    display: block;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    transition: opacity 0.5s ease-in-out;
}

.loadingif{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 40px;
    transform: translateY(500%);
}

.modernuiicon{
    left: 0;
    height: 40px;
    width: 40px;
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;
}

.modernuibuttons:hover{
    background-color: #ed5632;
}

.moderuititle{
    font-size: 14pt;
    font-weight: 300;
    text-align: center;
}

.start-in-start-button:hover{
    background-color: black;
    opacity: 1;
}

.start-button img{
    height: 30px;
    width: 30px;
}