<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Windows 8.1</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="{{url_for('static', filename='javascript/getTime.js')}}"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='scrollbar/scrollbar.css')}}">
    </head>
    <body style="background-image: url('/static/images/wallpaper.jpg');">
        <div class="taskbar">
            <span class="leftside">
                <button class="start-button" onclick="window.location.replace(`{{url_for('startmenu')}}`)"><img src="{{url_for('static', filename='images/starticon.png')}}"></button>
            </span>
            <span class="middle">
                <div class="taskbaricon" onclick="window.location.replace(`{{url_for('geodeshop')}}`)">
                    <img src="{{url_for('static', filename='images/storeicon.png')}}">
                </div>
                <div class="taskbaricon" onclick="window.location.replace(`{{url_for('rianews')}}`)">
                    <img src="{{url_for('static', filename='images/newsicon.png')}}">
                </div>
            </span>
            <span class="rightside">
                <p class="clock" id="clock">14:56</p>
            </span>
        </div>
    </body>
</html>