<!DOCTYPE html>
<html>
    <head>
        <title>Новсти RIA</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='scrollbar/scrollbar.css')}}">
        <script src="{{url_for('static', filename='javascript/loadApp.js')}}"></script>
        <script src="{{url_for('static', filename='javascript/loadNews.js')}}"></script>
    </head>
    <body style="background-color: #ab193d; overflow: auto;">
        <div id="headermover">
            <div class="modernuiheader">
                <img src="{{url_for('static', filename='images/newsicon.png')}}" class="modernuiicon">
                <h1 class="moderuititle">Новости RIA</h1>
                <div class="modernuibuttons" onclick="window.location.replace(`{{url_for('mainpage')}}`)">
                    <img src="{{url_for('static', filename='images/close.svg')}}" style="margin-top: 15px; margin-left: 15px;">
                </div>
            </div>
        </div>
        <div class="mainmodernview">
            <img src="{{url_for('static', filename='images/newsicon.png')}}" id="centerlogo">
            <p id="nocon">Нет подключения к интернету</p>
            <div id="menu" class="menu" style="background-color: transparent;">
                <ul>
                    <h1>RIA НОВОСТИ</h1>
                </ul>
            </div>
            <div id="nowthisisrealcontent">
                <div id="newslist">
                </div>
            </div>
        </div>
    </body>
</html>
        